*~
*.pyc
*.egg-info
build/
dist/
docs/build
.cache/
.idea/
ve/
MANIFEST
.coverage
coverage.xml
.tox/
junit.xml
.version
tmpfile.rc
node_modules/
docs/build/
docs/_theme/basic/static
docs/_theme/bootstrap/static
docs/_theme/react/static/js
