*~
*.pyc
*.egg-info
build/
dist/
docs/build
docs/_build
docs/source/_build
.cache/
.idea/
ve/
MANIFEST
.coverage
coverage.xml
.tox/
junit.xml
.version
tmpfile.rc
.DS_Store
.coverage*
*.bz2
tempfile.rc
conda-build/
conda_build_test_recipe/
record.txt
.vagrant/
Vagrantfile
docs/source/_build
env/
dev-init.bat
devenv/
Miniconda*.sh
miniconda*.sh
miniconda*.exe
.pytest_cache/
docs/source/_build
**/.vscode
conda.tmp/
*.iml
*.ipr
*.iws
