*~
*.pyc
*.egg-info
build/
dist/
docs/_build
docs/source/dev-guide/umls/*.puml
.cache/
.idea/
ve/
MANIFEST
.coverage
coverage.xml
.tox/
junit.xml
tmpfile.rc
.DS_Store
.coverage*
*.bz2
tempfile.rc
conda-build/
conda_build_test_recipe/
record.txt
.vagrant/
Vagrantfile
dev-init.bat
devenv/
Miniconda*.sh
miniconda*.sh
miniconda*.exe
.pytest_cache/
**/.vscode
conda.tmp/
*.iml
*.ipr
*.iws
test-report.xml

# Rever
rever/
