# run as 'conda install --file dev/test-requirements.txt -c defaults -c conda-forge'
# conda
flake8
mock
pexpect
pytest!=3.7.3
pytest-cov
pytest-timeout
conda-forge::radon
responses

# conda-build
anaconda-client
beautifulsoup4
chardet
conda-verify
contextlib2
filelock
pycrypto
pyflakes
pytest-mock
