anaconda-client
conda-forge::coverage >=7.4.2
conda-forge::pytest-split
conda-forge::pytest-xprocess
conda-forge::xdoctest
coverage
flask >=2.2  # jlap pytest fixture
git
pexpect
pip
pytest
pytest-cov
pytest-mock
pytest-rerunfailures
pytest-timeout
responses
tomli  # for coverage pyproject.toml, only necessary for Python <= 3.11.0a6
werkzeug >=2.2  # jlap pytest fixture
