archspec >=0.2.3
boltons >=23.0.0
charset-normalizer
conda-content-trust >=0.2.0  # for signature verification
conda-libmamba-solver >=23.11.0
conda-package-handling >=2.2.0
distro >=1.5.0
jsonpatch >=1.32  # jlap
menuinst >=2
packaging >=23.0
platformdirs >=3.10.0
pluggy >=1.0.0
pycosat >=0.6.3
python >=3.8
requests >=2.28.0,<3
ruamel.yaml >=0.11.14,<0.19
setuptools >=60.0.0
setuptools_scm  # for devenv version detection
tqdm >=4
zstandard >=0.15
