coverage
flask >=2.2  # jlap pytest fixture
git
importlib_resources >= 5.10  # only necessary for Python < 3.12
pexpect
pip
pytest < 9.0
pytest-cov
pytest-mock
pytest-rerunfailures
pytest-split
pytest-timeout
pytest-xprocess
responses
tomli  # for coverage pyproject.toml, only necessary for Python <= 3.11.0a6
werkzeug >=2.2  # jlap pytest fixture
