conda-forge::allure-pytest
conda-forge::anaconda-client
conda-forge::pytest-split
conda-forge::pytest-xprocess
conda-forge::xdoctest
conda-verify
coverage
flask >=2.2
git
pexpect
pip
pytest
pytest-cov
pytest-mock
pytest-rerunfailures
pytest-timeout
pytest-xdist
responses
tomli  # for coverage pyproject.toml, only necessary for Python <= 3.11.0a6
werkzeug >=2.2
