@import url("theme.css");



/** UML **/
.plantuml {
    height: 100%;
    width: 100%;
}

.plantuml svg text {
    /*  Make map text un-selectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}

.plantuml svg text::selection {
    background: none;
}

/** JS Panel **/
.jsPanel-ftr span.desc {
    display: "flex";
    justify-content: "space-between";
}

.jsPanel-ftr span.desc {
    flex-grow: 1;
}

.jsPanel-ftr span.buttons {
    display: flex;
    align-items: center;
}
