linkify-it-py==2.0.2
myst-parser==2.0.0
Pillow==10.0.0
pluggy==3.0.2
pylint==2.11.1
requests==2.31.0
ruamel.yaml==0.18.4
sphinx-argparse==0.4.0
sphinx-autoapi
sphinx-autobuild==2021.3.14
sphinx-reredirects
sphinx-rtd-theme==1.3.0
sphinx-sitemap==2.5.1
Sphinx==7.2.6
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.27
sphinxcontrib-programoutput==0.17
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
tqdm>=4