linkify-it-py
menuinst; sys_platform == 'win32'
myst-parser
pycosat; sys_platform != 'win32'
requests>=2.14.2
ruamel.yaml
sphinx
sphinx_rtd_theme
sphinx-argparse
sphinx-autobuild
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-plantuml
sphinxcontrib-programoutput
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
