linkify-it-py==1.0.1
myst-parser==0.15.2
Pillow==8.3.2
pluggy==1.0.0
pylint==2.11.1
requests==2.27.0
ruamel.yaml==0.17.16
sphinx-argparse==0.3.1
sphinx-autoapi
sphinx-autobuild==2021.3.14
sphinx-design==0.5.0
sphinx-reredirects
sphinx-rtd-theme==1.0.0
sphinx-sitemap==2.2.0
Sphinx==4.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.21
sphinxcontrib-programoutput==0.17
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tqdm>=4
