# keep noarch
!noarch

# ignore other subdirs
emscripten-wasm32
wasi-wasm32
freebsd-64
linux-32
linux-64
linux-aarch64
linux-armv6l
linux-armv7l
linux-ppc64
linux-ppc64le
linux-riscv64
linux-s390x
osx-64
osx-arm64
win-32
win-64
win-arm64
zos-z

# ignore optional files
channeldata.json
index.html
