name: Canary builds

on:
  # NOTE: github.event context is workflow_run payload:
  # https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#workflow_run
  workflow_run:
    workflows:
      - CI tests
    branches:
      - main
    types:
      - completed

jobs:
  build:
    if: >-
      !github.event.repository.fork
      && github.event.workflow_run.conclusion == 'success'
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            subdir: linux-64
          - runner: macos-latest
            subdir: osx-64
          - runner: windows-latest
            subdir: win-64
    runs-on: ${{ matrix.runner }}
    steps:
      # Clean checkout of specific git ref needed for package metadata version
      # which needs env vars GIT_DESCRIBE_TAG and GIT_BUILD_STR:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}
          clean: true
          fetch-depth: 0

      - name: Create and upload canary build
        uses: conda/actions/canary-release@v22.9.0
        with:
          package-name: conda
          subdir: ${{ matrix.subdir }}
          anaconda-org-channel: conda-canary
          anaconda-org-label: dev
          anaconda-org-token: ${{ secrets.ANACONDA_ORG_TOKEN }}
