---
name: CLA

on:
  issue_comment:
    types:
      - created
  pull_request_target:

jobs:
  check:
    if: >-
      !github.event.repository.fork
      && (
        github.event.issue.pull_request
        && github.event.comment.body == '@conda-bot check'
        || github.event_name == 'pull_request_target'
      )
    runs-on: ubuntu-latest
    steps:
      - name: Check CLA
        uses: conda/actions/check-cla@f46142e89fa703cc69f0421ca1d313ab2d5bfff6
        with:
          # [required]
          # A token with ability to comment, label, and modify the commit status
          # (`pull_request: write` and `statuses: write` for fine-grained PAT; `repo` for classic PAT)
          # (default: secrets.GITHUB_TOKEN)
          token: ${{ secrets.CLA_ACTION_TOKEN }}
          # [required]
          # Label to apply to contributor's PR once CLA is signed
          label: cla-signed

          # [required]
          # Token for opening signee PR in the provided `cla_repo`
          # (`pull_request: write` for fine-grained PAT; `repo` and `workflow` for classic PAT)
          cla_token: ${{ secrets.CLA_FORK_TOKEN }}
